.container {
    flex-direction: column;/* 设置容器内的项目纵向排列 */
    justify-content: center;/* 设置项目位于容器主轴的中心 */
    align-items: center;/* 项目在交叉轴居中 */
    display: flex;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
/*    background-color: aquamarine;*/
}

.div-title {
/*    background-color: aquamarine;*/
    flex-direction: column;/* 设置容器内的项目纵向排列 */
    justify-content: center;/* 设置项目位于容器主轴的中心 */
    align-items: center;/* 项目在交叉轴居中 */
}
.text-title {
    font-size: 26px;
    width: 90%;
    height: 100px;
    background-color: #e4e4e5;
    text-align: center;
    border-radius: 12px;
    box-shadow: 2px 5px 10px 1px rgba(192,192,192,0.9);
}

.div-introduce {
/*    background-color: #0f446d;*/
    flex-direction: column;/* 设置容器内的项目纵向排列 */
    justify-content: center;/* 设置项目位于容器主轴的中心 */
    align-items: center;/* 项目在交叉轴居中 */
}

.text-introduce {
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    width: 90%;
    height: 400px;
    background-color: #f9f9fc;
    border-radius: 12px;
/*    text-color: #082ad6;*/
    border:1px solid rgba(192,192,192,0.3);
    transition: all 0.5s;
/*    font-weight: 500;*/
    line-height: 48fp;
    padding: 5px;
}

/* 对class="button"的组件设置样式 */

.button {
    width: 100px;
    height: 50px;
    background-color: #242424;
    font-size: 24px;
    text-color: white;
    margin-top: 20px;
    border:1px solid rgba(192,192,192,0.3);
    transition: all 0.5s;
}

.button:hover {
    box-shadow: 2px 5px 10px 1px rgba(192,192,192,0.9);
}
