.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 600px;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}

.button{
/*    margin-top: 10px;*/
    border-top: 30px;
    border-top-color: white;
    text-color: white;
    font-size: 20px;
    font-style: normal;
    background-color: blue;
    width: 50%;
    height: 100px;
}